.menu {
    background-color: #65BCBF;
}

section#contact {
    background-color:#222;
    background-image:url(../img/map-image.png);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;   
}

.btn {
    border-radius: 60px;
    height: 57px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #F05F40;
    border-color: #F05F40;
}

.btn1 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn1:hover, .btn1:focus {
  text-decoration: none;
}

.g-recaptcha {
    margin-left: 8%;
    margin-bottom: 15px;
}

#myFooter {
    background-color: #3D3F3E;
    color: black;
    padding-top: 10px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: -25px;       
}

#myFooter .row {
    margin-bottom: 25px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.logo {
    margin-top: 10%;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.footer {
    margin-top: 1.5%;
}

header.masthead1 {
    background-image:url(../img/header.jpg);
}

header.masthead2 {
    background-image:url(../img/fondo.jpg);
    background-position: right;
}

header.masthead3 {
    background-image:url(../img/fondo1.jpg);
}
